* {
  margin: 0;
  padding: 0;
}

ul, li { list-style: none; }

/*
  Some debug stuff
*/
/*
.dbg_r { border: 1px solid red; }
.dbg_g { border: 1px solid green; }
.dbg_b { border: 1px solid black; }
*/
/*
  Main blocks
*/
.relative {
  position: relative;
}

body, html { height: 100%; }

body { min-width: 760px;}

.header { 
  height: 60px;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(210,210,210)),
    color-stop(1, rgb(255,255,255))
  );
  
  border-bottom: 1px solid #aaa;

  z-index: 999;
}

#search {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 500px;  
  font-size: 15px;
  margin-left: 85px;  
}

#search_results {
  position: fixed;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 35px;
  width: 500px;
  height: auto;
  left: 251px;
  z-index: 1000;
}

.panel {
  width: 250px;
  padding: 5px;
}

.playlist {
  padding: 5px;
}

/* Last.fm stuff */
#search_results ul {
  list-style: none;
}

#search_results li {
  height: 34px;
  padding: 3px;
  vertical-align: middle;
  cursor: pointer;
}

#search_results li:hover {
  background: white;
}

li.lfm_restype_32 {
  height: 20px !important;
}

/******* Services *******/

div.panel .service {
    height: 55px; 
}

div.panel .service:nth-child(even) {
    background: #ccc;
}

div.panel .service:nth-child(odd) {
    background: #000;
}

/******* From popup.html *********/

ul#tracks_container li {
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 4px;
    background: #fff;
    vertical-align: middle;
    text-overflow:ellipsis;
    overflow:hidden;

    position: relative;
}

ul#tracks_container li.empty {
    font-size: 12px;
    text-align: center;
    color: #696969;
}

ul#tracks_container li span.number {
    color: #696969;
    padding-left: 10px;
    width: 13px;
    display: inline-block;
    text-align: right;
    font-size: 12px;
}

ul#tracks_container li a.sm2_button {
    margin-right: 10px;
    margin-left: 5px;    
    margin-top: 1px;
}

ul#tracks_container li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-family: Arial;
}

ul#tracks_container li a:hover {
    color: #0187C5;
    text-decoration: underline;
}

ul#tracks_container li:nth-child(odd) {
    background: #EBEBEB;
}

ul#tracks_container li:hover {
    background: #D0E4F0;
}

ul#tracks_container li a.sm2_button {
    margin-bottom: 3px;
}

#controls {
    height: 85px;
    padding-left: 10px;
    width: 100%;
}

a#play {
    cursor: pointer;
}

#next img, #previous img {margin-bottom: 0px;}

#progress_bar {
    height: 5px;
    background:rgb(216,216,216);
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 1px;

    position: absolute;

    left: 0px;
    top: 65px;
    width: 100%;
}

#progress {
    height: 5px;
    background-color:#cc3333;
    width: 0%;
    cursor: pointer;
    
    position: absolute;
    z-index: 3;
}

#progress_loaded {
    height: 5px;
    background-color:#c1c1c1;
    width: 0%;
    cursor: pointer;
    position: absolute;

    z-index: 2;
}

#controls .album_image {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.float { float:left; }

#play {
    display: block;
    text-align: center;
}

#play img{
    margin-left: 0px;
    margin-top: 0px;
    opacity: 0.8;

    -webkit-transition-property: hover;
    -webkit-transition: opacity 0.15s ease-in-out;
}

#play:hover img { opacity: 1; }

#controls .track_info {
    padding-left: 5px;
    white-space:nowrap;
    text-overflow: ellipsis;

}

#controls .track_info {
    font-size: 16px;
}

#controls .track_info a { color: #222; text-decoration:none;}

#controls .track_info a:hover { color: #0187C5; text-decoration:underline;}

#controls .track_info .track {
    font-family: Verdana;
    font-size: 23px;
    line-height: 30px;
    text-overflow: ellipsis;
    display:block;
    overflow: hidden;
}

#controls .track_info .container {
    width: 360px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 2px;
}

#controls .track_info .container a {
    color: #0187C5;
}

#controls .track_info .controls_container {
    position: relative;

    padding-bottom: 0px;
    height: 20px;
}

#controls .track_info .controls_container a {
    margin-right: 10px;
    opacity: 0.5;
    -webkit-transition-property: hover;
    -webkit-transition: opacity 0.15s ease-in-out;

    float: left;
}

#controls .track_info .controls_container a img {
    top: 0px;
    vertical-align: middle;
}

#controls .track_info .controls_container a.love, #controls .track_info .controls_container a.ban {
    margin-top: 3px;
}

#controls .track_info .controls_container a:hover {
    opacity: 1;
}

#controls .track_info .controls_container a.next {
    margin-right: 20px;
}

.volume_control {
    position: absolute;
    right: 30px;
    top: 5px;
}

.volume_control .volume_bg {
    position: absolute;
    width: 50px;
    background: #eee;
    top: 50px;
    right: 0px;
    height: 8px;
    z-index: 0;
    border: 1px solid #ccc;
}

.volume_control .volume_link {
    position: absolute;
    top: 10px;
    right: 85px;
    z-index: 1;
}

.controls_container .time {
    font-family: Arial;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 15px;
    color: #aaa;
}

#track_time {
    position: absolute;
    right: 15px;
    top: 40px;
    font-size: 20px;
    color: #333;
}

.ui-toggler {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 24px;
    display: inline-block;
    cursor:pointer;
    font-size: 11px;
}

.ui-toggler:hover {
    border-color: #999;    
}

button.shuffle {
    width: 50px;
    background: url(../images/shuffle.png) center no-repeat;
    margin-right: 0px;
}

button.shuffle.disabled {
    background-image: url(../images/shuffle_bw.png);
}

button.stop_after_playing {
    width: 50px;
    background: url(../images/stop.png) center no-repeat;
    margin-right: 0px;
}

button.stop_after_playing.disabled {
    background-image: url(../images/stop_bw.png);
}

button.repeat_mode {
    width: 50px;
    background: url(../images/repeat_one.png) center no-repeat;
    margin-left: 0px;
}

button.repeat_mode.all {
    background-image: url(../images/repeat_all.png);
}

button.repeat_mode.disabled {
    background-image: url(../images/repeat_bw.png);
}

button.play_source {
    width: 40px;
    background: url(../images/plus_blue.png) center no-repeat;
    margin-right: 10px;
}

button.toggle_scrobbling {    
    width: 26px;
    background: url(../images/lfm_small.png) center no-repeat;
    margin-right: 0px;
}

button.toggle_scrobbling.disabled {    
    background-image: url(../images/lfm_small_bw.png);
}

.play_mode_controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #aaa;
    background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(210,210,210)),
    color-stop(1, rgb(255,255,255))
  );

    padding: 5px;
    z-index: 999;
}

.play_mode_controls button {
    background-color: #fff;
}

.play_mode_controls span {
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}

.play_mode_controls select {
    float: left;
    padding: 2px 0 2px 5px;
    background: #eee;
    border: 1px solid #ccc;
    font-size: 11px;
    margin-right: 15px;
}

#scrobbling {
    position: absolute;
    right: 20px;
    top: 5px;

    max-width: 120px;
    cursor: pointer;
    font-size: 13px;
    font-family: Arial;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}


#scrobbling a.lfm_link {
    color: #333;
    text-decoration: none;
    margin-top: 2px;
    margin-left: 3px;
}

#scrobbling a:hover {
    color: #0187C5;
    text-decoration: underline;
}

#scrobbling a.connect_lfm {
    color: #0187C5;
    text-decoration: underline;
    margin-top: 2px;
}

li.empty a {
    font-size: 20px !important;
    color: #D01F3C !important;
    text-decoration: underline !important;
}

#artist_info {
    position: fixed; 
    top: 100px; 
    right: 0px; 
    width: 407px;
}

.gray {
    color: #aaa;
}


