body { padding:0px; margin: 0px; font-size: 12px;}

body {
    max-height: 400px;
}

ul { list-style: none;}
li,ul { margin:0px; padding:0px; }

div.wrapper {
    overflow-x: hidden; 
    max-height: 400px; 
    width: 400px;
    padding-top: 0px;

    font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
}

ul#tracks_container {    
}

ul#tracks_container li {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: #fff;
    vertical-align: middle;
    text-overflow:ellipsis;
    overflow:hidden;
}

ul#tracks_container li.empty {
    font-size: 12px;
    text-align: center;
    color: #696969;
}

ul#tracks_container li span.number {
    color: #696969;
    padding-left: 10px;
    width: 13px;
    display: inline-block;
    text-align: right;
    font-size: 12px;
}

ul#tracks_container li a.sm2_button {
    margin-right: 10px;
    margin-left: 10px;    
    margin-top: 1px;
}

ul#tracks_container li a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-family: Arial;
}

ul#tracks_container li a:hover {
    color: #0187C5;
    text-decoration: underline;
}

ul#tracks_container li:nth-child(odd) {
    background: #EBEBEB;
}

ul#tracks_container li:hover {
    background: #D0E4F0;
}

ul#tracks_container li a.sm2_button {
    margin-bottom: 3px;
}

#controls {
    height: 70px;
    padding-left: 2px;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.0, rgb(255,255,255)),
        color-stop(1, rgb(240,240,240))
    )
}

a#play {
    cursor: pointer;
}

#next img, #previous img {margin-bottom: 13px;}

#progress_bar {
    height: 3px;
    background:rgb(216,216,216);
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 1px
}

#progress {
    height: 5px;
    background-color:#cc3333;
    width: 0%;
    cursor: pointer;
}

#controls .album_image {
    width: 64px;
    height: 64px;
    margin-top: 2px;
    position: relative;
    overflow: hidden;
}

.float { float:left; }

#play {
    border: 1px solid #ccc;
    height: 62px;
    width: 62px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0px;
    left:0px;
}

#play img{
    margin-left: 5px;
    margin-top: 7px;
    opacity: 0.8;

    -webkit-transition-property: hover;
    -webkit-transition: opacity 0.15s ease-in-out;
}

#play:hover img { opacity: 1; }

#controls .track_info {
    padding-left: 5px;
    white-space:nowrap;
    text-overflow: ellipsis;

}

#controls .track_info {
    font-size: 14px;
}

#controls .track_info a { color: #222; text-decoration:none;}

#controls .track_info a:hover { color: #0187C5; text-decoration:underline;}

#controls .track_info .track {
    font-family: Verdana;
    font-size: 23px;
    line-height: 30px;
    text-overflow: ellipsis;
    display:block;
    width: 280px;
    overflow: hidden;
}

#controls .track_info .container {
    width: 306px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#controls .track_info .container a {
    color: #0187C5;
}

#controls .track_info .controls_container {
    position: relative;

    padding-bottom: 0px;
    height: 20px;
}

#controls .track_info .controls_container a {
    margin-right: 10px;
    opacity: 0.7;
    -webkit-transition-property: hover;
    -webkit-transition: opacity 0.15s ease-in-out;

    float: left;
}

#controls .track_info .controls_container a img {
    top: 0px;
    vertical-align: middle;
}

#controls .track_info .controls_container a.love, #controls .track_info .controls_container a.ban {
    margin-top: 3px;
}

#controls .track_info .controls_container a:hover {
    opacity: 1;
}

#controls .track_info .controls_container a.next {
    margin-right: 20px;
}

.volume_control {
    position: relative;
}

.volume_control .volume_bg {
    position: absolute;
    width: 8px;
    background: #eee;
    top: 0px;
    right: 0px;
    height: 45px;
    z-index: 0;
    border: 1px solid #ccc;
}

.volume_control .range {
    -webkit-appearance:slider-vertical;
    height: 47px;
    width: 8px;
    margin: 0px;
    padding:0px;
    z-index:1;
    position: absolute;
    top: 0px;
    right: 1px;
}

.volume_control .volume_link {
    position: absolute;
    top: 50px;
    right: -3px;
    z-index: 1;
}

.controls_container .time {
    font-family: Arial;
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 13px;
    color: #aaa;
}