<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="css/new_popup.css?rnd=9" type="text/css">
        <link rel="stylesheet" href="css/jquery.jscrollpane.css?rnd=1" type="text/css">

        <script src="javascript/jquery.min.js"></script>
        <script src="javascript/jquery.tmpl.min.js"></script>
        <script src="javascript/jquery.mousewheel.js"></script>
        <script src="javascript/jquery.jscrollpane.min.js"></script>
        
        <script src="javascript/utils.js"></script>        
        <script src="javascript/scrobbler.js"></script>
        <script src="javascript/new_popup.js"></script>

        <script id="playlist_tmpl" type="text/x-jquery-tmpl">
        <table>
        {{each playlist}}
            <tr class="{{if $value.merge_rows}}big{{/if}}">
                {{if !$value.hide_artist}}
                <td class="artist_td {{if $value.last_row}}last{{/if}}" rowspan="{{if $value.merge_rows}}${$value.merge_rows}{{/if}}">
                    <div class="artist {{if $value.merge_rows}}big{{/if}}">
                        {{if $value.merge_rows}}
                        <div class="container image"><img src='${$value.artist_image}' /></div>
                        {{/if}}
                        <span title="${$value.artist}">${$value.artist}</span>
                    </div>
                </td>           
                {{/if}}
                <td class="track_td {{if $value.last_row}}last{{/if}}">
                    <div class="container">
                        <span class="track">${$value.song}</span>
                        <div class="controls">
                            <a class="button play"></a>
                            <a class="button love"></a>
                        </div>
                    </div>
                </td>
            </tr>            
        {{/each}}
        </table>
        </script>
    </head>
    <body oncontextmenu="return false" >
        <div id="wrapper">
            <div id="header">
                <div class="container">
                    <div class="control play">
                        <a class="button"></a>
                    </div>
                    <div class="control next">
                        <a class="button"></a>
                    </div>
                    <div class="control timeline">
                        <div class="outer br_8">
                            <div class="inner"></div>
                            <div class="progress"></div>
                            <div class="time"></div>
                        </div>
                    </div>
                    <div class="control volume">
                        <a class="button"></a>
                    </div>
                    <div class="control search">
                        <a class="button"></a>
                    </div>
                </div>
            </div>
            <div id="current_song">
                <div class="container">
                    <div class="album_img"><span class="jewelcase"></span><img /></div>
                    <div class="love_btn"><a class='button'></a></div>
                    <div class="info">
                        <a class="song"></a>
                        <a class="artist"></a><span class="dash">-</span><a class="album"></a>
                    </div>
                </div>
            </div>
            <div id="playlist"></div>
            <div id="footer">
                <div class="left">
                    <a class="button shuffle"></a>
                    <a class="button repeat"></a>
                </div>
                <div class="right">
                    <a class="button menu"></a>
                </div>
            </div>
        </div>
    </body>
</html>
