@import "mp3_player_button.css";
@import "jquery.jscrollpane.css";
@import "cssfonts-min.css";
@import "cssreset-min.css";

@import "popup/misc.css";
@import "popup/header.css";
@import "popup/controls.css";
@import "popup/playlist.css";
@import "popup/footer.css";
@import "popup/menu.css";

@import 'nanoscroller.css';

.nano .container      { padding: 0px 0px;}
.nano .pane         { background: rgba(0,0,0, 0.2); }
.nano .pane .slider { background: rgba(0,0,0, 0.7); }