@asset_path: "../../images/popup";

@import "mixins.less";

#footer {
    background: url("@{asset_path}/footer_bg.png") top left;
    width: 100%;
    height: 20px;
    padding: 2px 0px;

    .box();
  
    .left {
        .box-flex(1);

        padding-left: 10px;
    
        .button {
            padding-right: 10px;
        }
        
        .shuffle {
            background-image: url("@{asset_path}/shuffle.png");
        }
        
        .repeat {
            background-image: url("@{asset_path}/repeat.png");
        }
    }

    .right {
        .box-flex(0);

        padding-right: 10px;

        .menu {
            background-image: url("@{asset_path}/menu.png");
        }
    }
}
