@asset_path: "../../images/popup";

#current_song {
    position: relative;
    
    height: 67px;
    background: #ccc;
    background: url("@{asset_path}/cur_song_bg.png") top left;

    .container {
        position: relative;
        padding: 10px;

        div {
            float: left;
        }
    }

    .love_btn {
        padding: 15px 10px;

        .button { background-image: url("@{asset_path}/love_btn.png"); }
    }

    .info {
        padding: 7px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
        
        a {
            color: #000;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
            cursor: pointer;
            text-decoration: none;
            font-family: Verdana, arial;

            &:hover { text-decoration: underline; }
        }

        .song {
            display: block;
            font-weight: bold;
            line-height: 153.9%;
            font-size: 100%;
            font-family: arial;
        }

        .artist { font-size: 93%; }
        .album { font-size: 85%; }
        .dash { padding: 0px 3px; }
    }

    .album_img {
        position: relative;
        margin-left: 5px;
        top: -2px;
        
        img {
            height: 50px;
            width: 50px;
        }
        
        .jewelcase {
            position: absolute;
            top: -1px;
            left: -5px;
            background: url("@{asset_path}/jewelcase.png") no-repeat;
            background-size: 96%;
            width: 60px;
            height: 54px;
        }
    }
    
    .playing {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 12px;
        height: 12px;
        background: url("@{asset_path}/playing.gif") top left no-repeat;
        cursor: help;
    }

    .loader { display: none; }

    &.loading {
        .container { display: none !important; }
    
        .loader {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 468px;
            height: 65px;
            background: url("@{asset_path}/loader.gif") center no-repeat;
        }
    }

    .source {
        position: absolute;
        right: 7px;
        bottom: 3px;
        font-size: 93%;
        color: #666;
        cursor: default;
        
        a {
            color: #666;
            text-decoration: none;
        }

        img { 
            vertical-align: top; 
            width: 13px;
            height: 13px;
        }
    }
}