#current_song {
  position: absolute;
  top: 36px;
  width: 100%;
  height: 64px;
  background: url("../../images/popup/cur_song_bg.png") top left;
  border-bottom: 1px solid #b8b8b8;
}
#current_song .container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#current_song .love_btn {
  padding: 15px 5px;
  visibility: hidden;
}
#current_song .love_btn .button {
  background-image: url("../../images/popup/love_btn.png");
}
#current_song .info {
  padding: 7px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
  line-height: 14px;
}
#current_song .info a {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  font-family: arial;
}
#current_song .info a:hover {
  text-decoration: underline;
}
#current_song .info .song {
  display: block;
  font-weight: bold;
  line-height: 153.9%;
  font-size: 15px;
  font-family: arial;
}
#current_song .info .artist {
  font-size: 13px;
}
#current_song .info .album {
  font-size: 12px;
}
#current_song .info .dash {
  padding: 0px 3px;
}
#current_song .album_img {
  display: block;
  position: relative;
}
#current_song .album_img img {
  height: 64px;
  width: 64px;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
}
#current_song .source {
  position: absolute;
  right: 7px;
  bottom: 3px;
  font-size: 93%;
  color: #888;
  cursor: default;
}
#current_song .source a {
  color: #888;
  text-decoration: none;
}
#current_song .source a span {
  display: inline-block;
  padding-top: 1px;
}
#current_song .source img {
  vertical-align: top;
  width: 13px;
  height: 13px;
}
