@asset_path: "../../images/popup";

@import "mixins.less";

#footer {
    background: url("@{asset_path}/footer_bg.png") top left;
    width: 100%;
    height: 27px;
    padding: 2px 0px;

    .box();
    .box-sizing(border-box);
    .box-align(center);
  
    .left {
        .box-flex(1);

        padding-left: 10px;
    
        .button {
            padding-right: 10px;
            height: 14px;            
        }
        
        .shuffle {
            background-image: url("@{asset_path}/shuffle.png");
        }
        
        .repeat {
            background-image: url("@{asset_path}/repeat.png");
        }
    }

    .right {
        .box-flex(0);

        .menu {
            height: 25px;
            width: 38px;
            margin-right: 10px;
            background-image: url("@{asset_path}/menu.png");
        }
    }
}
