#footer {
  position: absolute;
  bottom: 0px;
  background: url("../../images/popup/footer_bg.png") top left;
  width: 100%;
  height: 27px;
  padding: 2px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer > div {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#footer .left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding-left: 10px;
}
#footer .left .button {
  padding-right: 10px;
  height: 14px;
  background-position: center;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#footer .left .shuffle {
  background-image: url("../../images/popup/shuffle.png");
}
#footer .left .shuffle.active, #footer .left .shuffle:hover {
  background-image: url("../../images/popup/shuffle_hover.png");
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#footer .left .repeat {
  background-image: url("../../images/popup/repeat.png");
}
#footer .left .repeat.active, #footer .left .repeat:hover {
  background-image: url("../../images/popup/repeat_hover.png");
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#footer .right {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#footer .right .volume {
  display: block;
  background-image: url("../../images/popup/volume.png");
  width: 10px;
  height: 12px;
  margin-top: -3px;
  cursor: pointer;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#footer .right .volume:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#footer .right .volume_bar {
  width: 89px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 14px;
  margin-left: 5px;
  margin-top: -1px;
}
#footer .right .volume_bar .bar_bg {
  background: #0f0f0f;
  padding: 0;
  vertical-align: bottom;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
}
#footer .right .volume_bar .bar {
  background: #dfdfdf;
  height: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#footer .right .menu {
  display: block;
  height: 25px;
  width: 38px;
  margin-right: 10px;
  background-image: url("../../images/popup/menu.png");
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#footer .right .menu:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
