#header {
  position: absolute;
  height: 36px;
  width: 100%;
  background: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../images/popup/header_bg.png");
  border-top: 1px solid #484848;
  border-right: 1px solid #484848;
  border-left: 1px solid #484848;
}
#header > div {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#header .toggle {
  margin-left: 5px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#header .button {
  display: block;
  padding: 0px 5px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -3px;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#header .button:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header .button.pause {
  background-image: url("../../images/popup/play.png");
}
#header .button.play {
  background-image: url("../../images/popup/pause.png");
}
#header .button.next {
  background-image: url("../../images/popup/next.png");
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#header .timeline.outer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-left: 5px;
  height: 9px;
  background: url("../../images/popup/timeline_bg.png") center left repeat-x;
  border-bottom: 1px solid #353535;
  position: relative;
  cursor: pointer;
}
#header .timeline.outer .inner {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 2;
  height: 7px;
  border: 1px solid #1f1f1f;
  background: url("../../images/popup/timeline_inner_bg.png") center left no-repeat;
  background-position: 0px 0px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#header .timeline .progress {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 1;
  height: 7px;
  border-top: 1px solid black;
  border-bottom: 1px solid #181818;
  background: url("../../images/popup/timeline_progress_bg.png") center left no-repeat;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
#header .time {
  display: block;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  padding: 0px 15px;
  text-align: right;
  color: white;
  font-size: 12px;
  cursor: default;
  text-shadow: 0 -1px 0 black;
  margin-top: -2px;
}
#header .search {
  display: block;
  cursor: pointer;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin-top: -3px;
  width: 48px;
  height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../images/popup/search_bg.png");
  background-position: top left;
  background-repeat: repeat-x;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#header .search:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header .search_bar {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 400px;
  height: 24px;
  z-index: 101;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search_bar .text {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 100%;
  padding: 3px 6px;
  color: #333;
}
#header .search_bar .result {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  top: 35px;
  left: 0px;
  width: 468px;
  height: auto;
  background: white;
  border-bottom: 1px solid #ccc;
  z-index: 3;
}
#header .search_bar .result > div {
  padding: 10px;
}
#header .search_bar .result h3 {
  font-family: tahoma;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  color: #333;
}
#header .search_bar .result ul {
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
#header .search_bar .result ul:before, #header .search_bar .result ul:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
#header .search_bar .result ul:after {
  clear: both;
}
#header .search_bar .result ul li {
  display: inline-block;
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search_bar .result ul li.loader {
  padding: 15px;
}
#header .search_bar .result ul li a.ex_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  position: relative;
  font-size: 13px;
  line-height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 34px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  color: #333;
}
#header .search_bar .result ul li a.ex_container span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#header .search_bar .result ul li a.ex_container .image {
  height: 34px;
  width: 34px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin-right: 10px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 34px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#header .search_bar .result ul li a.ex_container .add_to_playlist {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  right: 5px;
  top: 12px;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: url("../../images/popup/add.png") center no-repeat;
}
#header .search_bar .result ul li a.ex_container .add_to_playlist:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header .search_bar .result ul li a.ex_container:hover {
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#header .search_bar .result ul li a.ex_container:hover .add_to_playlist {
  display: block;
}
#minimize {
  display: none;
}
.pokki #minimize {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 11px;
  z-index: 999;
  cursor: pointer;
  background-image: url("../../images/popup/minimize.png");
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.pokki #minimize:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
