#header {
  overflow: hidden;
  position: absolute;
  height: 36px;
  width: 100%;
  background: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../images/popup/header_bg.png");
  border-top: 1px solid #484848;
  border-right: 1px solid #484848;
  border-left: 1px solid #484848;
}
#header > div {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#header .toggle {
  margin-left: 5px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#header .button {
  display: block;
  padding: 0px 5px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -3px;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#header .button:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#header .button.pause {
  background-image: url("../../images/popup/play.png");
}
#header .button.play {
  background-image: url("../../images/popup/pause.png");
}
#header .button.next {
  background-image: url("../../images/popup/next.png");
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#header .timeline.outer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-left: 5px;
  height: 9px;
  background: url("../../images/popup/timeline_bg.png") center left repeat-x;
  border-bottom: 1px solid #353535;
  position: relative;
  cursor: pointer;
}
#header .timeline.outer .inner {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 2;
  height: 7px;
  border: 1px solid #1f1f1f;
  background: url("../../images/popup/timeline_inner_bg.png") center left no-repeat;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#header .timeline .progress {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 1;
  height: 7px;
  border-top: 1px solid black;
  border-bottom: 1px solid #181818;
  background: url("../../images/popup/timeline_progress_bg.png") center left no-repeat;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#header .time {
  display: block;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  padding: 0px 15px;
  text-align: right;
  color: white;
  font-size: 12px;
  cursor: default;
  text-shadow: 0 -1px 0 #000000;
  margin-top: -2px;
}
#header .search {
  display: block;
  cursor: pointer;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin-top: -1px;
  margin-right: -1px;
  width: 48px;
  height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #444;
  background-color: #000000;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), color-stop(50%, #333333), to(#000000));
  background-image: -webkit-linear-gradient(#777777, #333333 50%, #000000);
  background-image: -moz-linear-gradient(top, #777777, #333333 50%, #000000);
  background-image: -ms-linear-gradient(#777777, #333333 50%, #000000);
  background-image: -o-linear-gradient(#777777, #333333 50%, #000000);
  background-image: linear-gradient(#777777, #333333 50%, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#000000', GradientType=0);
  z-index: 9999;
  position: relative;
}
#header .search:hover {
  background-color: #000000;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848484), color-stop(50%, #404040), to(#000000));
  background-image: -webkit-linear-gradient(#848484, #404040 50%, #000000);
  background-image: -moz-linear-gradient(top, #848484, #404040 50%, #000000);
  background-image: -ms-linear-gradient(#848484, #404040 50%, #000000);
  background-image: -o-linear-gradient(#848484, #404040 50%, #000000);
  background-image: linear-gradient(#848484, #404040 50%, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#000000', GradientType=0);
}
#header .search .img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../images/popup/search.png") center no-repeat;
  background-position: 16px 10px;
}
#header .search_bar {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 1px;
  width: 405px;
  height: 24px;
  z-index: 101;
  padding: 2px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search_bar.show {
  visibility: visible;
  left: 0px;
}
#header .search_bar .text {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 2px 5px;
  color: #555;
  font-weight: bold;
  height: 100%;
  background-color: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header.search_mode .search .img {
  background-size: 14px;
  background-image: url("../../images/popup/close.png");
}
.panel.search .search_results {
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: white;
}
.panel.search .search_results h3 {
  font-family: tahoma;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  color: #333;
}
.panel.search .search_results ul {
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
.panel.search .search_results ul:before, .panel.search .search_results ul:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.panel.search .search_results ul:after {
  clear: both;
}
.panel.search .search_results ul li {
  display: inline-block;
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel.search .search_results ul li.loader {
  padding: 15px;
}
.panel.search .search_results ul li a.ex_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  position: relative;
  font-size: 13px;
  line-height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 34px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  color: #333;
}
.panel.search .search_results ul li a.ex_container span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.panel.search .search_results ul li a.ex_container .image {
  height: 34px;
  width: 34px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin-right: 10px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 34px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.panel.search .search_results ul li a.ex_container .add_to_playlist {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 18px;
  top: 14px;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: url("../../images/popup/add.png") center no-repeat;
}
.panel.search .search_results ul li a.ex_container .add_to_playlist:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.panel.search .search_results ul li a.ex_container:hover {
  background-color: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.panel.search .search_results ul li a.ex_container:hover .add_to_playlist {
  display: block;
}
#minimize {
  display: none;
}
.pokki #minimize {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 11px;
  z-index: 99999999;
  cursor: pointer;
  background-image: url("../../images/popup/minimize.png");
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.pokki #minimize:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
