#header {
  height: 36px;
  background: #444;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#header .container .control {
  float: left;
  height: 24px;
  padding: 5px 5px;
}
#header .container {
  height: 34px;
  background: url("../../images/popup/header_bg.png");
  border-top: 1px solid #484848;
  border-right: 1px solid #484848;
  border-left: 1px solid #484848;
}
#header .toggle {
  margin-left: 5px;
}
#header .pause .button {
  background-image: url("../../images/popup/play.png");
}
#header .play .button {
  background-image: url("../../images/popup/pause.png");
}
#header .next .button {
  background-image: url("../../images/popup/next.png");
}
#header .control.timeline {
  padding-top: 11px;
  margin-right: 40px;
}
#header .timeline .outer {
  width: 282px;
  height: 9px;
  background: url("../../images/popup/timeline_bg.png") center left repeat-x;
  border-bottom: 1px solid #353535;
  position: relative;
  cursor: pointer;
}
#header .timeline .outer .inner {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 2;
  height: 7px;
  border: 1px solid #1f1f1f;
  background: url("../../images/popup/timeline_inner_bg.png") center left no-repeat;
  background-position: 0px 0px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#header .timeline .progress {
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 1;
  height: 7px;
  border-top: 1px solid black;
  border-bottom: 1px solid #181818;
  background: url("../../images/popup/timeline_progress_bg.png") center left no-repeat;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
#header .timeline .time {
  position: absolute;
  top: -1px;
  right: -33px;
  color: white;
  font-size: 11px;
  cursor: default;
  text-shadow: 0 -1px 0 black;
}
#header .volume {
  position: relative;
}
#header .volume .button {
  background-image: url("../../images/popup/volume.png");
}
#header .volume .volume_bar {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 10px;
  height: 100px;
  padding: 10px;
  padding-top: 5px;
  background: #111;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#header .volume .bar_bg {
  background: #333;
  height: 100%;
  padding: 0;
  vertical-align: bottom;
  overflow: hidden;
}
#header .volume .bar {
  background: #154ea2;
  height: 300px;
}
#header .search .button {
  background-image: url("../../images/popup/search.png");
}
#header .search_bar {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 419px;
  height: 24px;
  background: url("../../images/popup/header_bg.png");
  z-index: 2;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search_bar .text {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 100%;
  padding: 3px 6px;
  color: #333;
}
#header .search_bar .result {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 36px;
  left: 0px;
  width: 468px;
  height: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 3;
}
#header .search_bar .result > div {
  padding: 10px;
}
#header .search_bar .result h3 {
  font-family: tahoma;
  font-size: 14px;
  font-weight: bold;
  clear: both;
  color: #333;
}
#header .search_bar .result ul {
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
#header .search_bar .result ul:before, #header .search_bar .result ul:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
#header .search_bar .result ul:after {
  clear: both;
}
#header .search_bar .result ul li {
  display: inline-block;
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search_bar .result ul li.loader {
  padding: 15px;
}
#header .search_bar .result ul li a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  font-size: 13px;
  line-height: 1.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 34px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  filter: alpha(opacity=90);
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  color: #333;
}
#header .search_bar .result ul li a:hover {
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#header .search_bar .result ul li a span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#header .search_bar .result ul li a .image {
  height: 34px;
  width: 34px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin-right: 10px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 34px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
