#main_menu {
  position: absolute;
  width: 50%;
  bottom: 27px;
  right: 0px;
  z-index: 105;
  font-size: 116%;
}
#main_menu a {
  color: white;
}
.menu_container {
  background: #eee;
}
ul.menu_container {
  list-style: none;
  -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.5);
}
.menu_container > li {
  padding: 15px 15px;
  color: #222;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #aaa;
}
.menu_container > li:hover {
  background-color: #333;
  color: #eee;
}
.menu_container > li.header {
  font-weight: bold;
  cursor: default;
  background-color: #eee;
  color: #333;
  cursor: default;
}
#main_menu li.scrobbling {
  color: green;
}
#main_menu li.scrobbling.disabled {
  color: red;
}
#main_menu li.scrobbling.not_logged {
  color: blue;
}
.menu_container .menu_container {
  position: absolute;
  bottom: 0px;
  right: 100%;
  width: 100%;
  visibility: hidden;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu_container > li:hover .menu_container {
  visibility: visible;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#main_menu .open_local_files {
  position: relative;
}
#main_menu .open_local_files input {
  position: absolute;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
