* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Arial, sans-serif;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
html, body {
  height: 100%;
}
img {
  border: 0;
}
.br_8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.br_3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box_shadow {
  -webkit-box-shadow: #777777 0px 4px 10px;
  -moz-box-shadow: #777777 0px 4px 10px;
  box-shadow: #777777 0px 4px 10px;
}
.box_shadow_s {
  -webkit-box-shadow: #777777 0px 2px 5px;
  -moz-box-shadow: #777777 0px 2px 5px;
  box-shadow: #777777 0px 2px 5px;
}
.linear_grad {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
  background: -moz-linear-gradient(center bottom, #f0f0f0, white);
}
.clear {
  clear: both;
  line-height: 1px;
  font-size: 1px;
}
.align_right {
  text-align: right;
}
a.button {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  /* don't show link text */
  overflow: hidden;
  /* don't draw inner link text */
  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
}
/*********** Interface **********/#wrapper {
  height: 100%;
  width: 468px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  font-size: 93%;
  line-height: 77%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
#header, #current_song, #footer {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
#playlist {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.clearfix {
  clear: both;
}
#dialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#dialog .content {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 9999;
  background-color: #eee;
}
.form li {
  margin-top: 10px;
}
.form li.buttons {
  text-align: right;
}
.form label {
  display: block;
  padding: 5px 0px;
}
.form label .error {
  color: red;
  margin-left: 10px;
}
.form label.success {
  color: green;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}
.form input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}
.form input[type="submit"] {
  width: auto;
  border: 1px solid #333;
  background-color: #eee;
}
/************* Scrollbar ***************/.jspVerticalBar {
  right: 2px;
}
.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.twipsy.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}
.twipsy.below .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
}
.twipsy-inner {
  padding: 3px 8px;
  background-color: #000;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.fade.in {
  opacity: 1;
}
.frame #wrapper {
  min-height: 0;
}
