@import "mixins.less";

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Arial, sans-serif;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
}


html, body {
    height: 100%;
}

img {
    border: 0;
}

.br_8 {    
  .border-radius(8px);    
}

.br_3 {
  .border-radius(3px);
}

.box_shadow {
  .box-shadow(#777 0px 4px 10px);
}
.box_shadow_s {
  .box-shadow(#777 0px 2px 5px);
}

.linear_grad {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #ffffff));
  background: -moz-linear-gradient(center bottom, #f0f0f0, #ffffff);
}
.clear {
  clear: both;
  line-height: 1px;
  font-size: 1px;
}
.align_right {
  text-align: right;
}
a.button {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  /* don't show link text */

  overflow: hidden;
  /* don't draw inner link text */

  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
}
/*********** Interface **********/
#wrapper {
  height: 100%;
  min-height: 350px;
  width: 468px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background: url(../../images/popup/playlist_bg.png) top left;
  overflow: hidden;
  font-size: 93%;
  line-height: 77%;

  .box();
  .box-orient(vertical);
}

#header, #current_song, #footer { .box-flex(0); }
#playlist { .box-flex(1); }


.clearfix { clear: both; }


#dialog {
  position: fixed;
  background: rgba(0,0,0,0.5);

  height: 100%;
  width: 100%;

  .box();
  .box-pack(center);
  .box-align(center);

  .content {
    position: relative;
    height: auto;
    padding: 10px;
    .border-radius(10px);
    z-index:9999;
    background-color: #eee;
  }
}

.form {
  li {
    margin-top: 10px;

    &.buttons {
      text-align: right;
    }    
  }

  label {
    display: block;
    padding: 5px 0px;        

    .error {
      color: red;
      margin-left: 10px;
    }

    &.success {
      color: green;
      font-weight: bold;
      padding: 20px;
      font-size: 20px;
    }
  }
  input {
    padding: 5px;
    .border-radius(5px);
    border: 1px solid #ccc;
    width: 200px;

    &[type="submit"] {
      width: auto;
      border: 1px solid #333;
      background-color: #eee;
    }
  }
}

/************* Scrollbar ***************/
.jspVerticalBar {
  right: 2px;
}