* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Arial, sans-serif;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
span, p, div {
  -webkit-user-select: none;
  -moz-user-select: none;
}
html, body {
  height: 100%;
}
img {
  border: 0;
}
.br_8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.br_3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box_shadow {
  -webkit-box-shadow: #777777 0px 4px 10px;
  -moz-box-shadow: #777777 0px 4px 10px;
  box-shadow: #777777 0px 4px 10px;
}
.box_shadow_s {
  -webkit-box-shadow: #777777 0px 2px 5px;
  -moz-box-shadow: #777777 0px 2px 5px;
  box-shadow: #777777 0px 2px 5px;
}
.linear_grad {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
  background: -moz-linear-gradient(center bottom, #f0f0f0, white);
}
.clear {
  clear: both;
  line-height: 1px;
  font-size: 1px;
}
.align_right {
  text-align: right;
}
a.button {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  /* don't show link text */
  overflow: hidden;
  /* don't draw inner link text */
  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
}
/*********** Interface **********/#wrapper {
  height: 100%;
  min-height: 550px;
  width: 468px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  font-size: 93%;
  line-height: 77%;
}
.clearfix {
  clear: both;
}
#panel {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 36px;
  bottom: 27px;
  background: white;
  z-index: 101;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#panel.show {
  left: 0px;
}
#panel header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #dddddd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
  padding: 10px;
}
#panel header + * {
  padding: 20px;
}
#panel header h3 {
  display: block;
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #444;
}
#panel header a.back {
  cursor: pointer;
  display: block;
  width: 72px;
  height: 31px;
  background: url("../../images/popup/back.png");
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#panel header a.back:hover {
  filter: alpha(opacity=95);
  -khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}
#panel header a.back:active {
  background-position: center right;
}
#dialog {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
#dialog .content {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#dialog .close {
  margin-left: 10px;
  color: #ff6666;
  cursor: pointer;
}
.form li {
  margin-top: 10px;
}
.form li.buttons {
  text-align: left;
}
.form label {
  display: block;
  padding: 5px 0px;
  font-weight: bold;
}
.form label .error {
  color: red;
  margin-left: 10px;
}
.form label.success {
  color: green;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}
.form input {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}
.form input[type="submit"] {
  width: auto;
}
/*********** First run *************/#first_run p {
  text-align: center;
  margin-top: 10px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  color: #222;
  width: auto;
  margin: 10px 100px;
  font-size: 16px;
  font-family: georgia, arial;
  line-height: 150%;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#first_run .search-tip {
  cursor: default;
  position: absolute;
  top: 40px;
  z-index: 9999;
  left: 0px;
  width: 100%;
}
#first_run .search-tip .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #666666;
  left: 95%;
}
#first_run .search-tip p {
  margin-right: 0;
  margin-left: 200px;
}
#first_run .settings-tip {
  cursor: default;
  position: absolute;
  bottom: 40px;
  z-index: 9999;
  left: 0px;
  width: 100%;
}
#first_run .settings-tip .arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #666666;
  left: 95%;
}
#first_run .settings-tip p {
  margin-right: 0;
}
/*********** Browser specifiec stuff **************/.frame #wrapper {
  min-height: 0;
}
/************* Scrollbar ***************/.jspVerticalBar {
  right: 2px;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.fade.in {
  opacity: 1;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
  background-image: linear-gradient(white, white 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 18px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 20px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 16px;
}
.test_mode #background_page {
  position: absolute;
  top: 2%;
  bottom: 0px;
  left: 0px;
  width: 49%;
  height: 100%;
  background: white;
  z-index: 99999;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border: 0px;
}
.test_mode #background_page:hover {
  width: 90%;
}
.test_mode .jasmine_reporter {
  position: absolute;
  background: white;
  top: 2%;
  bottom: 0px;
  right: 0px;
  width: 49%;
  padding: 10px;
  height: 100%;
  font-size: 15px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.test_mode .jasmine_reporter:hover {
  width: 90%;
  z-index: 999999;
}
.test_mode #wrapper:hover ~ #background_page, .test_mode #wrapper:hover ~ .jasmine_reporter {
  top: 99%;
}
