/*********** Playlist *************/#playlist {
  padding-top: 5px;
  margin-bottom: 25px;
  overflow: auto;
}
#playlist .artist_playlist {
  margin-bottom: 5px;
}
#playlist .artist_playlist .artist .image {
  display: none;
}
#playlist .artist_playlist.large .artist {
  visibility: hidden;
}
#playlist .artist_playlist.large .track_container:first-child .artist {
  visibility: visible;
}
#playlist .artist_playlist.large .track_container:first-child .artist .image {
  display: block;
}
#playlist .artist_playlist .artist {
  position: absolute;
  left: 0px;
  text-align: right;
  width: 187px;
  padding: 5px 0px;
}
#playlist .artist_playlist .artist .image img {
  width: 38px;
  height: 38px;
}
#playlist .artist_playlist .artist span {
  display: inline-block;
  font-size: 13px;
  height: 140px;
  font-family: Verdana, arial;
  width: 157px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#playlist .artist_playlist .song {
  width: 300px;
  margin-left: 192px;
}
#playlist .artist_playlist .song .title {
  display: inline-block;
  width: 210px;
  text-align: left;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  padding: 6px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
#playlist .artist_playlist .song .controls {
  display: none;
}
#playlist .artist_playlist .song:hover, #playlist .artist_playlist .song.playing {
  background: red;
}
#playlist .artist_playlist .song:hover .title, #playlist .artist_playlist .song.playing .title {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 29, 84, 0.3);
}
