/*********** Playlist *************/#playlist {
  position: relative;
  overflow: auto;
}
#playlist .artist_playlist .artist .image {
  display: none;
}
#playlist .artist_playlist.large .artist {
  visibility: hidden;
  display: block;
  height: auto;
}
#playlist .artist_playlist.large .artist span {
  display: inline-block;
}
#playlist .artist_playlist.large .track_container:first-child .artist {
  visibility: visible;
  padding: 16px;
}
#playlist .artist_playlist.large .track_container:first-child .artist .image {
  display: block;
}
#playlist .artist_playlist .track_container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  height: 34px;
  cursor: pointer;
}
#playlist .artist_playlist .track_container.odd .song {
  background-color: #f2f2f2;
}
#playlist .artist_playlist .artist {
  width: 40%;
  height: 34px;
  left: 0px;
  text-align: right;
  padding: 0px 8px;
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}
#playlist .artist_playlist .artist .image img {
  width: 50px;
  height: 50px;
}
#playlist .artist_playlist .artist span {
  display: block;
  font-size: 13px;
  line-height: 150%;
  font-family: Verdana, arial;
}
#playlist .artist_playlist .song {
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
#playlist .artist_playlist .song .title {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  padding: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
#playlist .artist_playlist .song .controls {
  display: none;
}
#playlist .artist_playlist .song:hover, #playlist .artist_playlist .song.playing {
  background: #666 !important;
}
#playlist .artist_playlist .song:hover .title, #playlist .artist_playlist .song.playing .title {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 29, 84, 0.3);
}
